.main {
padding: 1.5rem 0 1.5rem;
    width: 70%;
    margin: 20px auto 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 10;
    border-radius: 5px;
}