.icon{
    background-color: lightgrey;
    height: 60px;
    width: 60px;
}
.chooseComponent {
    margin: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.innerComponentBox {
    display: flex;
    padding: 12px;
}

.details {
    display: flex;
    width: 75%;
    flex-direction: column;
    padding: 0 50px 0 20px;
}

.price {
    display: flex;
    margin: 10px 0;
    padding-right: 30px;
    border-right: 1px solid black;
    align-items: center;
    
}

.action {
    
    margin-left: 20px;
    padding-top: 10px;
    align-items: center;
}
